<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="DataSource" value="193.85.203.188"/>
		<add key="Database" value="syrovatko"/>
		<add key="Name" value="syrovatko"/>
		<add key="Password" value="sqlJirk5"/>
	</appSettings>	
</configuration>